*.asv
*.mat
*.pyc
*.txt
*.jar
*.log
*.temp
*.iml
*.pkl
*.data
*.lock
!*result.txt
*.gz
*.db
.svn/
.idea/
.idea/*
.settings
.classpath
.project
.cache
~*
data/*
log/*
jar/*
data/*
data/
output/
target/
packages/